$Secondary: #bf98feff;
$Secondary_Light: #cfb3ffff;
$White: #f7f8f9ff;
$Primary_Light: #caffe9ff;
$White_Bis: #f1f2f4ff;
$White_Ter: #dcdfe4ff;
$Secondary_Lighter: #e4d4ffff;
$Dark: #172b4dff;
$Primary: #31efb8ff;