$Secondary_500: #bf98feff;
$Secondary_400: #cfb3ffff;
$Neutral_100: #f7f8f9ff;
$Primary_200: #caffe9ff;
$Neutral_200: #f1f2f4ff;
$Neutral_300: #dcdfe4ff;
$Secondary_300: #e4d4ffff;
$Neutral_900: #172b4dff;
$Primary_500: #31efb8ff;