@use 'sass:map';
// @use 'design-system/colors.scss';
@use 'design-system/typographies.scss';

// Theme configuration is done by giving value to Bulma variables
// https://bulma.io/documentation/customize/concepts/

// -- Initial variables (with a literal value)
$Primary: #426A39ff;
$Secondary: #84B642ff;
$Secondary_Light: #cfb3ffff;
$White: #f7f8f9ff;
$Primary_Light: #caffe9ff;
$White_Bis: #f1f2f4ff;
$White_Ter: #dcdfe4ff;
$Secondary_Lighter: #e4d4ffff;
$Dark: #151132ff;

$text: $Dark;
$family-primary:"Cormorant Infant", serif;
$family-secondary:"Cinzel Decorative", serif;

$size-1: 63px;
$size-2: 54px;
$size-3: 31px;
$size-4: 21px;
$size-5: 18px;
$size-6: 15px;
$size-7: 13px;

$radius-small: 0;
$control-border-width: 2px;

@use "bulma/sass" with (
    // -- Derived variables (that take value from other variables)

    $primary: $Primary,
    $dark: $Dark,
    $white: $White,
    $white-bis: $White_Bis,
    $white-ter: $White_Ter,
    $body-family:"Cormorant Infant",
    $body-font-size:1.2rem,
    $body-color:#1A1E18ff,
    $link: #af590c,
    $section-padding:1rem 1.5rem,
    $section-padding-desktop:2rem 2.5rem,
    $family-secondary:$family-secondary,
    $footer-padding:3rem 1.5rem 2rem,
);

// -- Import all bulma styles

@use "bulma/sass/utilities/mixins";
@use "bulma-list/sass/bulma-list";

// -- Bulma style overrides

.button {
}

.tag {
    border-radius: $radius-small !important;
}

// -- Custom helpers

@mixin mixTypographyClassEC($lineheight:1.2,$fontsize:54px,$fontfamily:$family-primary){
    line-height: $lineheight;
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    font-size: $fontsize;
    letter-spacing: 0px;
    font-family: $fontfamily;
}
.header--large {
    @include mixTypographyClassEC(1.2,45px,$family-secondary);
    @include mixins.tablet {
        @include mixTypographyClassEC(1.2,56px,$family-secondary);
    };
}
.header--medium {
    @include mixTypographyClassEC(1.2,32px,$family-secondary);
    @include mixins.tablet {
        @include mixTypographyClassEC(1.2,40px,$family-secondary);
    };
}
.header--small {
    @include mixTypographyClassEC(1.2,16px);
    @include mixins.tablet {
        @include mixTypographyClassEC(1.2,31px);
    };
}

.text--large {
    @include mixTypographyClassEC(1.4,21px);
}
.text--medium {
    @include mixTypographyClassEC(1.4,18px);
}
.text--small {
    @include mixTypographyClassEC(1.4,15px);
}
.text--small--uppercase {
    @include mixTypographyClassEC(1.4,13px);
}


body{
    background-image: url('assets/images/backEC.jpg');
    background-color: #426A39ff;
    background-blend-mode: multiply;
    min-height: 100vh;
}
.container_all{
    box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.navbar{
    .navbar-item{
        text-transform: uppercase;
        font-weight: 600;
        color: $Primary;
        img{
            max-height: 90px;
        }
    }
}
.hero-home{
    background-image:linear-gradient(to right, rgba(66, 106, 57, 0.7), rgba(132, 182, 66, 0.7)),url('assets/images/BG_Fiesta_Hobbit_72_tr.webp'),linear-gradient(to right, rgba(66, 106, 57, 1), rgba(132, 182, 66, 1));
    background-position: left 80%;
    background-size: 120%;
    background-blend-mode: normal,multiply;
    background-repeat: no-repeat;
    .hero-body{
        padding:8rem 4rem;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        line-height: 69%;
        margin-bottom: 0;
    }
    .subtitle_group{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: "cinzel decorative", serif;
    }
    .highlight{
        max-width: 750px;
        text-align: center;
    }
}
.content_border{
    border-image-source: url('assets/images/border_content.png');
    border-image-slice: 65;
    border-image-width: auto;
    border-image-outset: 15px;
    padding:3rem 2rem;
}
.page_title{
    background-image: linear-gradient(to right, #426A39, #84B642);
    font-family: "cinzel decorative", serif;
    padding:1rem 2rem;
    .title {
        font-size: $size-3;
        color: $White;
        @include mixins.mobile {
            font-size: $size-5;
        }
    }
}
footer{
    background-image: linear-gradient(to right, #426A39, #84B642);
    .logo_footer{
        max-width: 200px;
        display: block;
    }
}

.img_mark{
    border:thick double $Primary;
    border-radius: 8px;
}